* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  /* max-width: 140rem; */
}

/****** HEADER ******/
.header {
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1000; */
  display: flex;
  flex-direction: column;
  background-color: #e7e4e2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* NAVIGATION */
.main-navigation {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 8rem;
}

.logo {
  max-width: 150px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link,
.button-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
}

.button-link {
  background-image: linear-gradient(to right, #feca15, #fc6c00);
  background-color: white;
  color: #333;
  padding: 1.2rem 2.4rem;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

/* ****************** */
/* SECTION HERO */
.section-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("Image/alex-haney-CAhjZmVk5H4-unsplash.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 1rem;
  width: 50%;
  max-width: 90%;
  line-height: 0.95;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.hero-content h1 {
  font-size: 9.6rem;
  margin-bottom: 3rem;
}

.hero-content p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.order-btn {
  background-color: #722f37;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 18px;
  border: 1px solid hsl(212, 27%, 19%);
}

.explore-btn {
  background-image: linear-gradient(to right, #feca15, #fc6c00);
  color: #fff;
  padding: 1.6rem 3.2rem;
  /* border: 2px solid #000000; */
}

/* ****************** */
/* MEDIA QUERY FOR HEADER AND SECTION HERO */

@media (max-width: 768px) {
  .main-navigation {
    flex-direction: column;
    height: auto;
    padding: 1rem 2rem;
  }

  .main-nav-list {
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }

  .main-nav-link,
  .button-link {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }

  .hero-content {
    width: 90%;
    padding: 0.5rem;
  }

  .hero-content h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

/* ****************** */
/* SECTION MENU */
.section-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  font-weight: 400;
  background-color: #e7e4e2;
}

.section-menu h1 {
  font-size: 3rem;
  grid-column: span 3;
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.menu-item-one,
.menu-item-two,
.menu-item-three {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.img-container img {
  height: 350px;
}

.section-menu img {
  width: 100%;
  max-width: 400px;
  /* height: 200px; */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.section-menu h3 {
  color: #722f37;
  padding-bottom: 3rem;
  font-size: 2rem;
}

.section-menu p {
  font-size: 2rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 6rem;
}

.section-menu span {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

/* .section-menu button {
  padding: 0.6rem 1.2rem;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s; */
/* } */

/* .section-menu button:hover {
  background-color: rgb(176, 105, 6);
} */

@media (max-width: 768px) {
  .section-menu {
    grid-template-columns: 1fr;
  }

  .section-menu h1 {
    grid-column: span 1;
  }
}

/* ****************** */
/* SECTION TESTIMONIALS */
.section-testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  font-weight: 400;
}

.section-testimonials h1 {
  font-size: 4rem;
  grid-column: span 3;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.section-testimonials h3 {
  color: #722f37;
  padding-bottom: 3rem;
  font-size: 2.4rem;
}

.section-testimonials p {
  font-size: 2rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 6rem;
}

.section-testimonials > div {
  background-color: #f8f8f5;
  padding: 2.4rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 35rem;
}

.testimonial-one-img,
.testimonial-two-img,
.testimonial-three-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.testimonial-one-img img,
.testimonial-two-img img,
.testimonial-three-img img {
  width: 3.75rem; /* 60px */
  height: 3.75rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.125rem solid #ccc;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.testimonial-name {
  font-weight: 600;
  color: #333;
  font-size: 1.8rem;
}

.testimonial-location {
  font-weight: 400;
  color: #777;
  font-size: 1.4rem;
}

/* ****************** */
/* MEDIA QUERY FOR SECTION TESTIMONIALS */

@media (max-width: 768px) {
  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .section-testimonials h1 {
    grid-column: span 1;
  }

  .testimonial-one-img,
  .testimonial-two-img,
  .testimonial-three-img {
    justify-content: center;
  }

  .testimonial-text {
    align-items: center;
    text-align: center;
  }

  .testimonial-one-img img,
  .testimonial-two-img img,
  .testimonial-three-img img {
    width: 4rem;
    height: 4rem;
  }

  .testimonial-name {
    font-size: 1.2rem;
  }

  .testimonial-location {
    font-size: 1rem;
  }
}

/* ****************** */
/* SECTION ORDER PLACEMENT */

.Order-placement {
  background-color: #e7e4e2;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Order-placement h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.Order-placement form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
}

.Order-placement form label {
  font-weight: 600;
  color: #333;
  margin-bottom: 1.8rem;
  display: inline-block;
}

.Order-placement form input,
.Order-placement form select,
.Order-placement form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #722f37;
  border-radius: 8px;
  font-size: 1.8rem;
}

.Order-placement form select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1.8rem;
}

.confirm-btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-btn:hover {
  background-color: #722f37;
}

/* ****************** */
/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #4d4a4a;
  font-size: 1.8rem;
  color: #e5e2e2;
  box-sizing: border-box;
}
/* .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
} */

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
}

.footer-logo {
  width: 150px;
  object-fit: contain;
  display: block;
  border-radius: 10px;
}

.logo-container h3 {
  margin: 0;
  padding: 0;
}

.logo-description {
  font-size: 1.5rem;
  color: #c1b8b8;
  text-align: justify;
  word-break: break-word;
  max-width: 100%;
  line-height: 1.4;
}

.logo-container,
.pages-container,
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pages-container p {
  font-weight: bold;
  margin-bottom: 1rem;
}

.pages-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-us h3 {
  padding-bottom: 1rem;
}

.contact-us {
  gap: 0.4rem;
}

.footer-link {
  color: #c1b8b8;
  text-decoration: none;
  margin-bottom: 0.6rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.social-media-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.social-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background-color: #ff9900; */
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.social-icon img {
  width: 100%;
  height: auto;
  display: block;
  filter: invert(1);
}

.social-icon:hover {
  background-color: black;
}

.social-icon:active {
  background-color: black;
}

.copyright {
  grid-column: 1 / -1; /* Spans the grid item from the first column line to the last, 
  effectively making it stretch across all columns in the grid */
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
  padding-top: 1rem;
  color: #969191;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer > div {
    margin-bottom: 2rem;
  }

  .logo {
    max-width: 100px;
  }

  .social-media-container {
    justify-content: center;
  }
}
